body {
  width: 100%;
}

main .height_title .height_title__body .height_title__background .height_title__head .height_title__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  color: #00519C;
}

.page-header {
  display: flex;
  align-items: center;
  height: 105px;
  background: pink;
}

.page-header__container-navigation {
  margin-left: auto;
  margin-right: auto;
}

.container-navigation {
  display: flex;
  align-items: center;
  background: yellow;
  width: 1144px;
  height: 81px;
  justify-content: start;
}

.logo {
  background: red;
}

.caption {
  display: flex;
  flex-direction: column;
  background: tomato;
  width: 177px;
}

.caption__title {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 19px;
  color: #00519C;
}

.caption__subtitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 35px;
  color: #00519C;
}

.container-navigation__caption {
  margin-left: 14px;
}

.header__nav {
  margin-left: 82px;
}

.nav__list-navigation {
  display: flex;
  width: 708px;
  height: 16px;
  justify-content: space-between;
}

.nav__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #00519C;
}

.container-navigation__flag {
  margin-left: 26px;
  background: darkgreen;
}

.container-navigation__button-circle {
  margin-left: 8px;
}

main .height_title .height_title__body .height_title__background {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/sectiion_heightt_title/height_title.jpg") no-repeat center;
  height: 180px;
}
main .height_title .height_title__body .height_title__background .height_title__head .height_title__title {
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

.block {
  width: 1153px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: red;
  margin-left: auto;
  margin-right: auto;
}

.box {
  width: 263px;
  height: 240px;
  background: darkgreen;
}

.box img {
  text-align: center;
}

.box p {
  text-align: center;
  background: darkorange;
}

.footer-row {
  width: 1153px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.u {
  width: 58px;
  height: 58px;
  background: url("../img/footer/Group 5.svg") no-repeat;
}

.f {
  width: 41px;
  height: 41px;
  background: url("../img/footer/Group 6.svg") no-repeat;
}

.in {
  width: 41px;
  height: 41px;
  background: url("../img/footer/Group 7.svg") no-repeat;
}