body {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; }

main .height_title .height_title__body .height_title__background .height_title__head .height_title__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  color: #00519C; }

.header_main {
  background: aqua; }
  .header_main .header_main__nav {
    display: flex;
    flex-direction: row;
    max-width: 1047px;
    background: indianred; }
    .header_main .header_main__nav .logo {
      display: flex;
      background: blueviolet; }
      .header_main .header_main__nav .logo .header_main__fish_body {
        width: 85px;
        height: 52.21px;
        background: url("../img/header_main/fish_body.png") center no-repeat; }
      .header_main .header_main__nav .logo .header_main__circle {
        background: url("../img/header_main/circle.png") center no-repeat;
        width: 14.94px;
        height: 14.24px;
        margin-left: 55.12px;
        margin-top: 18.98px; }
    .header_main .header_main__nav .header_main__podpis_logo {
      height: 100px;
      background: #cccccc; }
    .header_main .header_main__nav .header_main__menu {
      background: brown; }

main .height_title .height_title__body .height_title__background {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/sectiion_heightt_title/height_title.jpg") no-repeat center;
  height: 180px; }
  main .height_title .height_title__body .height_title__background .height_title__head .height_title__title {
    font-size: 36px;
    line-height: 44px;
    text-align: center; }
