.header {
  width: 100%;

  @media (min-width: $desktop) {
    //background: red;
    min-height: 105px;
    display: flex;
    align-items: center;
  }
}

.header__wrapper{
  @media(min-width: $desktop)  {
    width: 1145px;
    display: flex;
    align-items: center;
  }
}



